@import url('https://fonts.googleapis.com/css2?family=Bree+Serif&family=Caveat:wght@400;700&family=Lobster&family=Monoton&family=Open+Sans:ital,wght@0,400;0,700;1,400;1,700&family=Playfair+Display+SC:ital,wght@0,400;0,700;1,700&family=Playfair+Display:ital,wght@0,400;0,700;1,700&family=Roboto:ital,wght@0,400;0,700;1,400;1,700&family=Source+Sans+Pro:ital,wght@0,400;0,700;1,700&family=Work+Sans:ital,wght@0,400;0,700;1,700&display=swap');

.quiz-bg {
    background-color: #875fc0;
    padding: 20px;
}

.quiz-score {
    color: #ffffff;
    font-family: Roboto;
    font-weight: bold;
    font-size: 22px;
    padding: 20px;
    text-align: right;
}

.quiz-top-section {
    background-color: #ffffff;
    text-align: center;
    border-radius: 10px;
    padding: 25px;
}

.quiz-top-section-heading {
    color: #1f2933;
    font-family: Roboto;
    font-weight: bold;
    font-size: 30px;
}

.quiz-top-section-description {
    color: #323f4b;
    font-family: Roboto;
    font-size: 18px;
}

img {
    height: 120px;
    width: 300px;
}

.quiz-bottom-section {
    background-color: #ffffff;
    border-radius: 10px;
    padding: 35px;
    margin: 2px;
    margin-top: 20px;
}

.quiiz-options-list {
    list-style-type: none;
    padding: 0px;
}

.option {
    color: #323f4b;
    font-family: Roboto;
    font-size: 15px;
    border-color: #1f2933;
    border-style: solid;
    border-width: 1px;
    border-radius: 8px;
    padding: 12px 30px;
    margin: 10px;

}

.correct-option {
    color: #ffffff;
    background-color: #875fc0;
    font-family: Roboto;
    font-size: 15px;
    border-color: #1f2933;
    border-style: solid;
    border-width: 1px;
    border-radius: 8px;
    padding: 12px 30px;
    margin: 10px;

}

.quiz-bottom-section-button {
    text-align: center;
}

button {
    background-color: #fbaf00;
    color: #ffffff;
    border-style: none;
    border-radius: 5px;
    padding: 10px 25px;
    font-family: Roboto;
    font-size: 12px;
}